@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col-12 position-relative">
     <div class="image-container">
        <img src="~/homeImg/mihail-comanescu-BSNY06a34uo-unsplash.jpg" alt="Banner">
    </div>
      <div class="position-absolute bottom-0 start-0 btn-explore-block">
        <a type="button" class="btn btn-explore m-3" asp-area="" asp-controller="Car" asp-action="Catalog">EXPLORE</a>
      </div>
      <div class="position-absolute bottom-0 end-0 p-3 slogan">
        <p>MADE FOR PEOPLE BY PEOPLE</p>
      </div>
    </div>
  </div>
</div>

<!-- Second block -->
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <p>EXPLORE</p>
      <h5>For customers around the world</h5>
    </div>
  </div>
</div>

<!-- Third block -->
<div class="container warning">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h3 class="fw-bold  mb-4">WARNING</h3>
      <p class="lead">Please note that the website you 
        are currently visiting is currently in development and is 
        a student project. The information provided on this website 
        may be incomplete or inaccurate, and the design and functionality 
        of the site may change at any time without notice.</p>
    </div>
  </div>
</div>